$yellow: #FEA803;
$dark: #1A1A1A;
$grey: #A4A4A4;

ul{
    list-style-type: none;
}

@mixin forLink {
    color: #1A1A1A;
}

@mixin btnActive {
    &:hover{
        cursor: pointer;
        background-color: #fea603c4;
    }
}
@mixin hover {
    &:hover{
        cursor: pointer;
    }
}