ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  overflow-x: hidden;
}

.wrapper {
  width: 1276px;
  margin: 0 auto;
}
@media (max-width: 1399.8px) {
  .wrapper {
    width: 90%;
    overflow: hidden;
  }
}

.header-sibling {
  background-color: #F5F5F5;
  padding: 16px 0px 12px;
}
.header-sibling .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  width: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__img:hover {
  cursor: pointer;
}

.user-location {
  margin-left: 23px;
  color: #A4A4A4;
  font-size: 12px;
}
.user-location__link {
  color: #1A1A1A;
  margin-left: 10px;
  font-size: 12px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.header-description {
  width: 954px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__map-pin {
  margin-right: 6px;
  margin-top: 6px;
}
.header__location-paragraph {
  width: 227px;
  font-size: 14px;
  font-weight: 300;
  color: #1A1A1A;
  line-height: 17.81px;
}
.header-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}
.header__mail-img {
  margin-right: 10px;
}
.header__mail-link {
  color: #1A1A1A;
  font-weight: 600;
  font-size: 15px;
  line-height: 19.08px;
  text-decoration: none;
}
.header__mail-link:hover {
  text-decoration: underline;
}
.header__call-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__call-img {
  margin-right: 10px;
}
.header__number {
  color: #1A1A1A;
  text-decoration: none;
  display: block;
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.header__number:hover {
  text-decoration: underline;
}
.header__call-paragraph {
  color: #A4A4A4;
  font-size: 12px;
  font-weight: 400;
  width: 190px;
}
.header__call-btn {
  background-color: #FEA803;
  border: 0px;
  color: #fff;
  font-size: 12px;
  padding: 1.5em 4.25em;
}
.header__call-btn:hover {
  cursor: pointer;
  background-color: rgba(254, 166, 3, 0.768627451);
}

.header-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1115px;
  padding: 22px 0px;
}
.nav__item {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.nav__item:hover {
  cursor: pointer;
}
.nav__trigger-arrow {
  margin-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 12px;
}
.nav__trigger-arrow_active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav__inner-list {
  height: 0;
  opacity: 0;
  position: absolute;
}
.nav__inner-list_active {
  height: auto;
  opacity: 1;
}
.nav__inner-item {
  padding: 10px 10px 15px 0px;
}
.nav__search-img {
  margin-left: 3px;
}
.nav__search-img:hover {
  cursor: pointer;
}

.main-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__background {
  position: absolute;
  background-repeat: no-repeat;
  right: -84px;
}

.description__ttl {
  padding-top: 146px;
  margin-bottom: 22px;
  position: relative;
  width: 479px;
  color: #1A1A1A;
  font-size: 51px;
  font-weight: 400;
  line-height: 63px;
}
.description__subttl {
  color: #1A1A1A;
  position: relative;
  width: 513px;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
.description__btn {
  background-color: #FEA803;
  border: 0px;
  color: #fff;
  font-size: 12px;
  padding: 1.5em 2.8333em;
}
.description__btn:hover {
  cursor: pointer;
  background-color: rgba(254, 166, 3, 0.768627451);
}

.amount-calcuator {
  width: 347px;
  padding: 30px;
  background-color: #fff;
  position: relative;
  margin-top: 66px;
  margin-right: 24px;
  margin-bottom: 235px;
}

.calcul__ttl {
  width: 201px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  margin: 0 auto 30px;
}
.calcul__area-ttl {
  font-size: 15px;
  font-weight: 500;
  color: #1A1A1A;
  text-align: start;
  margin-bottom: 7px;
}
.calcul__types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.calcul__offer-type {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  padding-bottom: 8px;
  border-bottom: 1px solid #E2E2E2;
  width: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calcul__offer-type:hover {
  cursor: pointer;
}
.calcul__location {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  padding-bottom: 10px;
  border-bottom: 1px solid #E2E2E2;
  width: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calcul__location:hover {
  cursor: pointer;
}
.calcul__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid #1A1A1A;
  margin-bottom: 30px;
}
.calcul__cost-ttl {
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  color: #1A1A1A;
}
.calcul__cost-result {
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #FEA803;
  margin-right: 80px;
}
.calcul__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calcul__name, .calcul__phone {
  width: 162px;
  border: 0px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  outline: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #A4A4A4;
  margin-bottom: 30px;
}
.calcul__btn {
  background-color: #FEA803;
  border: 0px;
  color: #fff;
  font-size: 12px;
  width: 100%;
  padding: 1.5em 2.8333em;
}
.calcul__btn:hover {
  cursor: pointer;
  background-color: rgba(254, 166, 3, 0.768627451);
}

.services__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  color: #1A1A1A;
  width: 466px;
  margin-bottom: 20px;
}
@media (max-width: 723.8px) {
  .services__ttl {
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    width: 349px;
  }
}
.services__subttl {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0em;
  color: #1A1A1A;
  width: 433px;
  margin-bottom: 70px;
}
@media (max-width: 723.8px) {
  .services__subttl {
    width: 398px;
    margin-bottom: 54px;
  }
}

.services-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 61px;
  width: 1280px;
}
.services-menu__link {
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding: 0px 15px 21px;
  text-decoration: none;
}
.services-menu__link:hover {
  font-weight: 600;
  border-bottom: 2px solid #FEA803;
}
.services-menu__link:first-child {
  padding: 0px 15px 21px 0px;
}

.services-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 370px;
  display: flex;
  margin: 0 -5px;
}
@media (max-width: 723.8px) {
  .services-flex {
    margin: 0 auto;
  }
}

.services__item {
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 15px 5px;
}
@media (max-width: 723.8px) {
  .services__item {
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
.services__img {
  height: 193px;
}
.services__service-ttl {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  margin-bottom: 10px;
}
.services__service-subttl {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #A4A4A4;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.about__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  color: #1A1A1A;
  margin-bottom: 40px;
  width: 356px;
}
.about__paragraph {
  width: 413px;
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 20px;
  margin-left: 58px;
}
.about__imgs {
  position: relative;
  height: 384px;
  width: 629px;
  margin-top: -22px;
  margin-right: -3px;
}
.about__img:last-child {
  position: absolute;
  right: 24px;
  bottom: -94px;
}

.cost-services {
  margin-bottom: 251px;
}

.cost__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  color: #1A1A1A;
  width: 590px;
  margin-bottom: 40px;
}
.cost__typeof-wrapper {
  height: 528px;
  overflow-y: auto;
  margin-bottom: 50px;
}
.cost__typeof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #1A1A1A;
}
.cost__typeof_dark {
  background-color: #1A1A1A;
  color: #fff;
  font-weight: 500;
}
.cost__typeof_grey {
  background-color: #F5F5F5;
}
.cost__btn {
  background-color: #FEA803;
  border: 0px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  padding: 18px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.slider {
  height: 5px;
  width: 263px;
  border-radius: 21px;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__choose-block {
  background-color: #FEA803;
  height: 5px;
  position: relative;
}
.slider__target {
  background-color: #FEA803;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
}
.slider__target:hover {
  cursor: pointer;
}
.slider__area-result {
  font-size: 15px;
  font-weight: 500;
  color: #1A1A1A;
  text-align: center;
  padding: 8px 0px;
  border: 1px solid #A4A4A4;
  width: 59px;
}

.faq-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

.faq__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  color: #1A1A1A;
  text-align: start;
  display: inline;
}
.faq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
}
.faq__question {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #1A1A1A;
  width: 521px;
  margin-bottom: 30px;
}
.faq__answer {
  font-size: 18px;
  font-weight: 300;
  line-height: 19px;
  color: #A4A4A4;
  width: 629px;
  height: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 30px;
}
.faq__answer_active {
  height: 57px;
  opacity: 1;
}
.faq__arrow-border {
  border: 1.5px solid #1A1A1A;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}
.faq__arrow-border:hover {
  cursor: pointer;
}
.faq__arrow-border_active {
  border-color: #FEA803;
}
.faq__arrow {
  border-left: 1.4px solid #1A1A1A;
  border-top: 1.4px solid #1A1A1A;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.faq__arrow_active {
  left: 51%;
  top: 54%;
  border-color: #FEA803;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.done-slider-container {
  position: relative;
}

.done-slider-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.done-slider-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 53px;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.done-slider-inner-wrapper_active {
  -webkit-animation-name: anim;
          animation-name: anim;
}

.done-slider-inner-wrapper_active-left {
  -webkit-animation-name: anim-left;
          animation-name: anim-left;
}

@-webkit-keyframes anim {
  100% {
    margin-left: -430px;
  }
}

@keyframes anim {
  100% {
    margin-left: -430px;
  }
}
@-webkit-keyframes anim-left {
  100% {
    margin-left: 0px;
  }
}
@keyframes anim-left {
  100% {
    margin-left: 0px;
  }
}
.done-slider__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  color: #1A1A1A;
  margin-bottom: 50px;
}
.done-slider__arrow:hover {
  cursor: pointer;
}
.done-slider__arrow:last-child {
  margin-left: 22px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.done-slider__btns {
  width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 17px;
}
.done-slider__cart {
  width: 414px;
  margin-right: 20px;
}
.done-slider__img {
  height: 230px;
}
.done-slider__inner-ttl {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #1A1A1A;
}

.done-btn {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  background-color: #1A1A1A;
  border: 0px;
  padding: 20px 63px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 200px;
}
.done-btn:hover {
  cursor: pointer;
}

.reviews {
  position: relative;
}
.reviews__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  margin-bottom: 50px;
}
.reviews__user {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  margin-bottom: 10px;
}
.reviews__user-position {
  color: #A4A4A4;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 30px;
}
.reviews__paragr {
  width: 737px;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  color: #1A1A1A;
  margin-bottom: 30px;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 193px;
  padding-top: 40px;
  border-top: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4;
  margin-bottom: 50px;
}
.reviews-slider__logo {
  margin: 0 64px 0px 150px;
}

.slider__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__user-slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
}

.reviews-slider_arrow-left:hover {
  cursor: pointer;
}
.reviews-slider_arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 20px;
}
.reviews-slider_arrow-right:hover {
  cursor: pointer;
}

.our-clients {
  margin-bottom: 210px;
}

.clients__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  color: #1A1A1A;
  text-align: center;
  margin-bottom: 80px;
}
.clients__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__logo {
  height: 35px;
}

.specialists__ttl {
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  color: #1A1A1A;
  text-align: start;
  margin-bottom: 70px;
}
.specialists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}
.specialists__list:last-child {
  margin-bottom: 250px;
}
.specialists__item {
  width: 305px;
}
.specialists__img {
  height: 378px;
  margin-bottom: 15px;
}
.specialists__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  margin-bottom: 10px;
}
.specialists__position {
  color: #868686;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 301px;
}
.advantages__ttl {
  color: #1A1A1A;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 20px;
  width: 369px;
}
.advantages__subttl {
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  width: 413px;
}
.advantages__inner-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (432px)[2];
  grid-template-columns: repeat(2, 432px);
}
.advantages__item {
  width: 366px;
  padding: 0px 22px 0px 44px;
  border-left: 1px solid #D1D1D1;
  margin-bottom: 40px;
}
.advantages__img {
  height: 76px;
  margin-bottom: 40px;
}
.advantages__inner-ttl {
  margin-bottom: 20px;
}
.advantages__inner-subttl {
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  width: 366px;
}

.make-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 250px;
}

.offer__ttl {
  color: #1A1A1A;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  width: 416px;
}
.offer__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__input {
  outline: none;
  background-color: #EDEDED;
  color: #1A1A1A;
  font-size: 15px;
  border: 0px;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 15px;
  font-weight: 300;
  line-height: 19px;
  width: 304px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.offer__submit {
  color: #fff;
  background-color: #1A1A1A;
  border: 0px;
  font-size: 12px;
  font-weight: 600;
  padding: 18px 61px;
  position: absolute;
  right: 94px;
  bottom: 32px;
}
.offer__submit:hover {
  cursor: pointer;
}

.offer-form {
  height: 115px;
  background-color: #EDEDED;
  padding: 73px 94px 32px 93px;
  position: relative;
}

footer {
  background-color: #1A1A1A;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0px 80px 0px;
  border-bottom: 1px solid #4A4A4A;
}
.footer__nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.footer__nav-link:hover {
  color: #ccc;
}
.footer_social-ttl {
  margin-bottom: 10px;
  color: #A4A4A4;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 58px;
}
.footer__third-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__location-paragraph_footer {
  margin: 0px 0px 30px 8px;
}

.header__location-paragraph_footer,
.header__call-paragraph_footer,
.header__number_footer,
.header__mail-link_footer {
  color: #fff;
}